header {
  height: 100px;
  line-height: 100px;
  margin: 0 auto;
  background-color: lightblue;
  text-align: center;
  color: white;
}

.container {
  display: flex;
  height: 400px;
  margin: 20px 0px;
}

main, aside {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 10px;
  text-align: center;
  color: white;
}

main {
	flex-grow: 1;
}
aside {
	flex-grow: 2;
}
main article:first-child {
  flex: 2;
  background-color: darkgray;
}

main article:last-child {
  flex: 1;
  background-color: lightgreen;
}

aside article:first-child {
  background-color: tomato;
  flex: 1;
}

aside article:last-child {
  flex: 2;
  background-color: grey;
}

section {
  display: flex;
  flex-direction: row;
  text-align: center;
  color: white;
}

section article:first-child {
  flex: 2;
  background-color: green;
}

section article:last-child {
  flex: 1;
  background-color: lightpink;
}

footer {
  height: 100px;
  line-height: 100px;
  margin: 0 auto;
  background-color: orange;
  text-align: center;
  color: white
}
